<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>web content</title>
    <style>
        body {
            background-color: lightyellow;
        }
    </style>
</head>

<body>
    <h1><a href="/">home</a></h1>
    <table border="0" id="secret">
        <tr>
            <th class="secret_content">{{content.title}}</th>
        </tr>
        <tr>
            <td class="secret_content">{{content.site}}</td>
        </tr>
        <tr>
            <td class="secret_content">{{content.content}}</td>
        </tr>

    </table>

</body>

</html>